unpackaged/main/default/flows/Assessment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Answers</name>
        <label>Answers</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Answer1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Answer2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Answer3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Answer4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Answer5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Answer6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Answer7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Answer8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Answer9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Answer10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assessments_Fourth_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A_Little_Of_The_Time</name>
        <choiceText>A little of the time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A little of the time</stringValue>
        </value>
    </choices>
    <choices>
        <name>All_Of_The_Time</name>
        <choiceText>All of the time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All of the time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Most_Of_The_Time</name>
        <choiceText>Most of the time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Most of the time</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_Of_The_Time</name>
        <choiceText>None of the time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None of the time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Some_Of_The_Time</name>
        <choiceText>Some of the time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Some of the time</stringValue>
        </value>
    </choices>
    <description>This flow is created to run on the Assessments tab on Mental Health Community v2</description>
    <environments>Default</environments>
    <interviewLabel>Assessment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Assessments_First_Screen</name>
        <label>Assessments First Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assessments_Second_Screen</targetReference>
        </connector>
        <fields>
            <name>Consent_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Consent for Sharing Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assessments_First_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_First_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_First_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personal_Info_Label</name>
                    <fieldText>&lt;p&gt;First Name    :&lt;/p&gt;&lt;p&gt;Last Name    :&lt;/p&gt;&lt;p&gt;Date of Birth :&lt;/p&gt;&lt;p&gt;Sex                :&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_First_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personal_Info_Label_2</name>
                    <fieldText>&lt;p&gt;John&lt;/p&gt;&lt;p&gt;Appleseed&lt;/p&gt;&lt;p&gt;15/07/1980&lt;/p&gt;&lt;p&gt;Male&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_First_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessments_First_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_First_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_First_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Consent_Message1</name>
                    <fieldText>&lt;p&gt;Information about you is confidential but may be shared with your permission, or if required by law, or in other specific circumstances. Information may also be shared with other agencies, or with a relative, carer or friend, if it is reasonably required for your treatment and care and it is in your best interests.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_First_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessments_First_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_First_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_First_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Consent_Message2</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Consent_Checkbox</name>
                    <dataType>Boolean</dataType>
                    <fieldText>The treating team has explained the information sharing circumstances to me and I understand what information will be shared, why it is shared and with whom it will be shared, And I consent to the information being shared.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please check this box and give consent in order to continue to the questionnaire.&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Consent_Checkbox}=TRUE,TRUE,FALSE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_First_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Assessments_Fourth_Screen</name>
        <label>Assessments Fourth Screen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back and Change</backButtonLabel>
        <connector>
            <targetReference>Assessments_Thank_You_Screen</targetReference>
        </connector>
        <fields>
            <name>Assessments_Fourth_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Fourth_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Fourth_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Summary</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Review Summary&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Fourth_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Personal_Info_Summary_Label</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Personal Information﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assessments_Fourth_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Fourth_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Fourth_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personal_Info_Confirmation</name>
                    <fieldText>&lt;p&gt;First Name :&lt;/p&gt;&lt;p&gt;Last Name :&lt;/p&gt;&lt;p&gt;Date of Birth :&lt;/p&gt;&lt;p&gt;Sex :&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Fourth_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Personal_Info_Confirmation2</name>
                    <fieldText>&lt;p&gt;John&lt;/p&gt;&lt;p&gt;Appleseed&lt;/p&gt;&lt;p&gt;15/07/1980&lt;/p&gt;&lt;p&gt;Male&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Fourth_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Answers_Info_Summary_Label</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your Answers&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assessments_Fourth_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Fourth_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Fourth_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmation</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;1. Did you feel tired out for no good reason?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Your Answer : &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Answer1}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;2. Did you feel nervous?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Your Answer : &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Answer2}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;3. Did you feel so nervous that nothing could calm you down?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Your Answer : &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Answer3}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;4. Did you feel hopeless?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Your Answer : &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Answer4}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;5. Did you feel restless or fidgety?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Your Answer : &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Answer5}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;6. Did you feel so restless you could not sit still?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Your Answer : &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Answer6}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;7. Did you feel depressed?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Your Answer : &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Answer7}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;8. Did you feel everything was an effort?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Your Answer : &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Answer8}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;9. Did you feel so sad that nothing could cheer you up?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Your Answer : &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Answer9}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;10. Did you feel worthless?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Your Answer : &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!Answer10}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Fourth_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Assessments_Second_Screen</name>
        <label>Assessments Second Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assessments_Third_Screen</targetReference>
        </connector>
        <fields>
            <name>Assessments_Second_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Second_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Second_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question1</name>
                    <choiceReferences>None_Of_The_Time</choiceReferences>
                    <choiceReferences>A_Little_Of_The_Time</choiceReferences>
                    <choiceReferences>Some_Of_The_Time</choiceReferences>
                    <choiceReferences>Most_Of_The_Time</choiceReferences>
                    <choiceReferences>All_Of_The_Time</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>1. Did you feel tired out for no good reason?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Second_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessments_Second_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Second_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Second_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question2</name>
                    <choiceReferences>None_Of_The_Time</choiceReferences>
                    <choiceReferences>A_Little_Of_The_Time</choiceReferences>
                    <choiceReferences>Some_Of_The_Time</choiceReferences>
                    <choiceReferences>Most_Of_The_Time</choiceReferences>
                    <choiceReferences>All_Of_The_Time</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>2. Did you feel nervous?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Second_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessments_Second_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Second_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Second_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question3</name>
                    <choiceReferences>None_Of_The_Time</choiceReferences>
                    <choiceReferences>A_Little_Of_The_Time</choiceReferences>
                    <choiceReferences>Some_Of_The_Time</choiceReferences>
                    <choiceReferences>Most_Of_The_Time</choiceReferences>
                    <choiceReferences>All_Of_The_Time</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>3. Did you feel so nervous that nothing could calm you down?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Second_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessments_Second_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Second_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Second_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question4</name>
                    <choiceReferences>None_Of_The_Time</choiceReferences>
                    <choiceReferences>A_Little_Of_The_Time</choiceReferences>
                    <choiceReferences>Some_Of_The_Time</choiceReferences>
                    <choiceReferences>Most_Of_The_Time</choiceReferences>
                    <choiceReferences>All_Of_The_Time</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>4. Did you feel hopeless?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Second_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessments_Second_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Second_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Second_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question5</name>
                    <choiceReferences>None_Of_The_Time</choiceReferences>
                    <choiceReferences>A_Little_Of_The_Time</choiceReferences>
                    <choiceReferences>Some_Of_The_Time</choiceReferences>
                    <choiceReferences>Most_Of_The_Time</choiceReferences>
                    <choiceReferences>All_Of_The_Time</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>5. Did you feel restless or fidgety?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Second_Screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Assessments_Thank_You_Screen</name>
        <label>Assessments Thank You Screen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Assessments_Thank_You_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Thank_You_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Thank_You_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ThankYou</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>TickImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>200</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>200</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Thank_You_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Thank you!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Your responses are recorded.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Assessments_Third_Screen</name>
        <label>Assessments Third Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Answers</targetReference>
        </connector>
        <fields>
            <name>Assessments_Third_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Third_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Third_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question6</name>
                    <choiceReferences>None_Of_The_Time</choiceReferences>
                    <choiceReferences>A_Little_Of_The_Time</choiceReferences>
                    <choiceReferences>Some_Of_The_Time</choiceReferences>
                    <choiceReferences>Most_Of_The_Time</choiceReferences>
                    <choiceReferences>All_Of_The_Time</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>6. Did you feel so restless you could not sit still?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Third_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessments_Third_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Third_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Third_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question7</name>
                    <choiceReferences>None_Of_The_Time</choiceReferences>
                    <choiceReferences>A_Little_Of_The_Time</choiceReferences>
                    <choiceReferences>Some_Of_The_Time</choiceReferences>
                    <choiceReferences>Most_Of_The_Time</choiceReferences>
                    <choiceReferences>All_Of_The_Time</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>7. Did you feel depressed?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Third_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessments_Third_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Third_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Third_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question8</name>
                    <choiceReferences>None_Of_The_Time</choiceReferences>
                    <choiceReferences>A_Little_Of_The_Time</choiceReferences>
                    <choiceReferences>Some_Of_The_Time</choiceReferences>
                    <choiceReferences>Most_Of_The_Time</choiceReferences>
                    <choiceReferences>All_Of_The_Time</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>8. Did you feel everything was an effort?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Third_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessments_Third_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Third_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Third_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question9</name>
                    <choiceReferences>None_Of_The_Time</choiceReferences>
                    <choiceReferences>A_Little_Of_The_Time</choiceReferences>
                    <choiceReferences>Some_Of_The_Time</choiceReferences>
                    <choiceReferences>Most_Of_The_Time</choiceReferences>
                    <choiceReferences>All_Of_The_Time</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>9. Did you feel so sad that nothing could cheer you up?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Third_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessments_Third_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assessments_Third_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Third_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question10</name>
                    <choiceReferences>None_Of_The_Time</choiceReferences>
                    <choiceReferences>A_Little_Of_The_Time</choiceReferences>
                    <choiceReferences>Some_Of_The_Time</choiceReferences>
                    <choiceReferences>Most_Of_The_Time</choiceReferences>
                    <choiceReferences>All_Of_The_Time</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>10. Did you feel worthless?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assessments_Third_Screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assessments_First_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Answer1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Answer10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Answer2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Answer3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Answer4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Answer5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Answer6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Answer7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Answer8</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Answer9</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
