unpackaged/main/default/flows/Episode_Before_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_Involuntary_Flag</name>
        <label>Update Involuntary Flag</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.Involuntary_flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckMHLegalStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateStatusToClosed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateStatusToClosed</name>
        <label>UpdateStatusToClosed</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckEndDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CheckEndDate</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.EndDate})),&#39;Closed&#39;,&#39;Open&#39;)</expression>
    </formulas>
    <formulas>
        <name>CheckMHLegalStatus</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!$Record.MH_Legal_Status__c},&#39;Involuntary&#39;),true,false)</expression>
    </formulas>
    <interviewLabel>Episode Before Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Episode Before Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Involuntary_Flag</targetReference>
        </connector>
        <object>ClinicalEncounter</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
