unpackaged/main/default/flows/Further_Information_Before_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_Confirmation_Date_of_Compliance</name>
        <label>Update Confirmation Date of Compliance</label>
        <locationX>1370</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_of_Compliance_Confirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Confirmation_Date_of_Compliance_0</name>
        <label>Update Confirmation Date of Compliance</label>
        <locationX>1634</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_of_Compliance_Confirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Current_Status_To_Revoked</name>
        <label>Update Current Status To Revoked</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revoked</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Date_Of_Compliance</name>
        <label>Update Date Of Compliance</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_of_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Date_Of_Compliance_0</name>
        <label>Update Date Of Compliance</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_of_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Order_Initially_Made_On_Date</name>
        <label>Update Order Initially Made On Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Order_Initially_Made_On_Revocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Commencement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Order_Initially_Made_On_Confirmation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Commencement_Date__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Revocation_Date_of_Compliance</name>
        <label>Update Revocation Date of Compliance</label>
        <locationX>1898</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_of_Compliance_Revocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Revocation_Date_of_Compliance_0</name>
        <label>Update Revocation Date of Compliance</label>
        <locationX>2162</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_of_Compliance_Revocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Status_To_Non_Complaint</name>
        <label>Update Status To Non-Complaint</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-Compliant</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Conditions</name>
        <label>Check Conditions</label>
        <locationX>1238</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Commencement_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Commencement_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community_Treatment_Order_Level_1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commencement_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Initially_Made_On_Date</targetReference>
            </connector>
            <label>On Commencement Date</label>
        </rules>
        <rules>
            <name>Check_Complaint_from_No_To_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Compliant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Compliant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community_Treatment_Order_Level_1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Expiry_Date</targetReference>
            </connector>
            <label>Check Complaint from No To Yes</label>
        </rules>
        <rules>
            <name>On_Revoked_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Revoked_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community_Treatment_Order_Level_1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Revoked_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Status_To_Revoked</targetReference>
            </connector>
            <label>On Revoked Date</label>
        </rules>
        <rules>
            <name>On_Complaint_No</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Compliant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community_Treatment_Order_Level_1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Compliant_Confirmation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Compliant_Revocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Non_Complaint</targetReference>
            </connector>
            <label>On Complaint No</label>
        </rules>
        <rules>
            <name>On_Confirmation_Complaint_No_To_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Compliant_Confirmation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Compliant_Confirmation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community_Treatment_Order_Level_1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Expiry_Date_0</targetReference>
            </connector>
            <label>On Confirmation Complaint No To Yes</label>
        </rules>
        <rules>
            <name>On_Revocation_Complaint_No_To_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community_Treatment_Order_Level_1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Compliant_Revocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Compliant_Revocation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Order_Expiry_Date_0_0</targetReference>
            </connector>
            <label>On Revocation Complaint No To Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Expiry_Date</name>
        <label>Check Order Expiry Date</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Date_Of_Compliance_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Expiry_Date_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Order_Expiry_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Expiry_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Of_Compliance</targetReference>
            </connector>
            <label>Order Expiry Date Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Expiry_Date_0</name>
        <label>Check Order Expiry Date</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Confirmation_Date_of_Compliance_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Expiry_Date_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Order_Expiry_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Expiry_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Confirmation_Date_of_Compliance</targetReference>
            </connector>
            <label>Order Expiry Date Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Expiry_Date_0_0</name>
        <label>Check Order Expiry Date</label>
        <locationX>2030</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Revocation_Date_of_Compliance_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Expiry_Date_Exists_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Order_Expiry_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Expiry_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Revocation_Date_of_Compliance</targetReference>
            </connector>
            <label>Order Expiry Date Exists</label>
        </rules>
    </decisions>
    <description>`</description>
    <environments>Default</environments>
    <interviewLabel>Further Information Before Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Further Information Before Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Conditions</targetReference>
        </connector>
        <object>Further_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
